<!DOCTYPE html>
<html>

  <head>
    <%= stylesheet_link_tag "main.css" %>
  </head> 

  <body>
    <div id="scroller"> 
      <iframe src="<%= @link %>" frameborder="0" id="loader">
      </iframe>
     
    </div>
     <div class="msg" id="msg">JPlayer here</div>
  </body>

</html>