<html>
<body overflow:"hidden">
EVALUATION MODE ------> JPlayer instance will be here so it doesn't get destroyed when page reloads <-------  
<iframe src="<%= @link %>" height="100%" width="100%" frameborder="0">
</iframe>
</body>
</html>