<html>
<body>
<head>
 <%= stylesheet_link_tag "main.css" %>
</head>
EVALUATION MODE ------> JPlayer instance will be here so it doesn't get destroyed when page reloads <-------  
<iframe src="<%= @link %>" frameborder="0" id="loader">
</iframe>
</body>
</html>