            <!-- Sign up form -->
            <li class="dropdown" id="sign_up">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign up<span class="caret"></span></a>
              <ul class="dropdown-menu form-group" id="signUp" role="menu">
                <li><form role="form" action="" method="post">
                  <div class="sign-form">
                    <input type="email" class="form-control" id="email" placeholder=" E-mail" name="email">
                  </div>
                  <div class="sign-form">
                    <input type="text" class="form-control" id="username" placeholder=" Username" name="username">
                  </div>
                  <div class="sign-form">
                    <input type="password" class="form-control" id="password" placeholder=" Password" name="password">
                  </div>
                  <div class="sign-form">
                    <input type="password" class="form-control" id="re-password" placeholder=" Re-enter password" name="password2">
                  </div>
                  <button type="button" class="btn btn-default" onclick="submit_form()">Sign up</button>
                </form></li>
              </ul>
            </li>