<% if session['logged_in']==1 %>
<%= render 'navbar_logged'%>
<% else %>
<%= render 'navbar'%>
<% end %>
<!-- All the content on the homepage -->
<div id="content" class="container-fluid">
	<div class="container">
		<div class="main row">
			<div class="row grind">                      
			</div>
		</div>
	<% if session['logged_in'] == 1 %>
		<div class="row playlist">
			<div class="col-md-10" style="width: 100%;">
				<div class="gallery">
					<div id="carousel">
						<!-- Image is added here. -->

					</div>

						<button type="button" id="previous" class="btn btn-default ss-icon" onclick="galleryspin('-')">&lt;</button>
						<button type="button" id="next" class="btn btn-default ss-icon" onclick="galleryspin('')">&gt;</button>
						<button type="button" id="random" style="bottom: -50px;" class="btn btn-default ss-icon" onclick="galleryspin('')"><b>Shuffle</b></button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<% end %>


