<% if session['logged_in']==1 %>
<%= render 'navbar_logged'%>
<% else %>
<%= render 'navbar'%>
<% end %>
<!-- All the content on the homepage -->
<div id="content" class="container-fluid">
  <div class="container">
    
    <div class="main row">
      <div class="row grind">                      
      </div>
    </div>

    <div class="row playlist">
      <div class="col-md-10">
        <div class="gallery">
          <div id="carousel"></div>
          <button type="button" id="previous" class="btn btn-default ss-icon" onclick="galleryspin('-')">&lt;</button>
          <button type="button" id="next" class="btn btn-default ss-icon" onclick="galleryspin('')">&gt;</button>
          <button type="button" id="random" class="btn btn-default ss-icon" onclick="galleryspin('')">&gt;</button>
        </div>        
      </div>
      <!-- Playlist Track Information (Currently: static), TODO: Show information of the current track -->
      <div class="col-md-2 pull-left">
        <p><b>Track Information:</b></p>
        <p>Track Name</p>
        <p>Artist</p>
        <p>Duration</p> 
        <p>Album</p>
        <p>Rating</p>   
      </div>
    </div>
    
  </div>
</div>


