<%= render "navbar_others" %>

<div id="content" class="container-fluid"> 
	<div class="container">      
		<div class="row" id="album-info"> 
			<div class="col-md-2">
				<img class="album-cover" src="../common/2.jpg" alt="album cover">  
			</div>
			
			<div class="col-md-10">
				<p class="album-name">Album Name</p> 
				<p class="album-artist">Artist Name</p>
				<p class="album-year">2010</p>
				<p><span class='tracks-number'>5<span> Tracks</p> 
			</div>
		</div>
		<div class="row" id="album-tracks"> 
			<table class="table table-striped"> 

			<tbody>
				<tr class="info">
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll">(Artist Collaboration)<span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
					
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll"><span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
				</tr>
				
				<tr class="active">
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll">(Artist Collaboration)<span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
					
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll">(Artist Collaboration)<span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
				</tr>
				
				<tr class="info">
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll"><span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
					
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll">(Artist Collaboration)<span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
				</tr>
				
				<tr class="active">
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll">(Artist Collaboration)<span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
					
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll"><span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
				</tr>              
				
				<tr class="info">
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll"><span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
					
					<td class="col-md-6">
						<i class="glyphicon glyphicon-play-circle col-md-1"></i>
						<div class="col-md-11" id="track-info">
							<p class="track-name h4">Track Name <span class="coll">(Artist Collaboration)<span></p>
							<p class= "track-duration"> 1:00 </p>
						</div>
					</td>
				</tr>         
			</tbody>
		</table>
	</div>
</div> 
</div>         


