/* Homepage specific css */	

.main {
	padding-bottom: 40px;
}

.refresh{
	height: 20px;
}

#track{
  	width: 100%;
  	max-width: 200px;
    max-height: 200px;
  	min-width: 160px;
    min-height: 160px;
}

.element{
  	float:left;
  	width: 15%;
  	margin: 10px;
  	min-width: 160px;
    min-height: 160px;
  	position:relative;
}

/* Display Track Information */
.element img {    
    vertical-align:top;
}

.element:after {
    content: "\a";
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.element:hover:after {
    opacity:1;
}

/* Carousel CSS */

/*  Created using http://desandro.github.io/3dtransforms/docs/carousel.html as a tutorial/guide
I refactored and revamped just about all code from there, but it is possible a few variable names/css are the same */	
.playlist{
    margin-bottom: 35px;
}
.gallery {
    width: 100%;
    margin-bottom: 50px;
    height: 210px;
    -webkit-perspective: 1100px;
            perspective: 1100px;  	
}

#carousel {
    width: 200px;
    height: 100%;
    margin: auto auto;
    -webkit-transform: translateZ( -288px );
            transform: translateZ( -288px );
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
            transition: transform 1s;
}

#carousel img {
  	position: absolute;
  	width: 200px;
  	height: 200px;
  	left: 10px;
  	top: 10px;
  	margin: 0 auto;
  	border: 2px solid;
}

#previous { 
    position: relative; 
    left: 85px; 
    bottom: 125px;
    float:left;
}

#next {
    position: relative;
    right: 75px; 
    bottom: 125px;
    float:right;    
}

#random {
    position: relative;
    left: 434px;
    bottom: -30px; 
    float:left;
}

.img {
	position:relative;
}

.artistname {
  color: white;
  font-size: 15px; 
}

.element:hover .grid_description {
	position:absolute;
	top:15px;
	left:15px;
	font-size:13px;
	font-weight:bold;
	color:white;
	z-index:50;
	visibility:visible;
}

.grid_description {
	position:absolute;
	top:0;
	font-size:10px;
	font-weight:bold;
	color:white;
	z-index:50;
	visibility:hidden;
	height:100%;
	width:90%;
}

.download {
  position:absolute;
  bottom:10px;
  right:10px;
  height:30px; 
  width:30px; 
  visibility:hidden; 
}

.element:hover .download {
  visibility:visible;
  z-index:51;
}

.playtrack{
  position:absolute;
  bottom:11px;
  right:50px;
  height:27px; 
  width:27px;
  visibility:hidden;
}
.element:hover .playtrack {
  visibility:visible;
  z-index:51;
}




