/* Common css for site */

	/*Css for footer to work*/
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}

	#wrapper {
	   min-height:100%;
	   position:relative;
	}

	#content{
	   padding:10px;
	   padding-bottom:100px;
	}
	.main {
		padding-bottom: 100px;
	}
	#footer {
	   position:absolute;
	   bottom:0;
	   height: 72px;  		/* depends on the content */
	   width:100%;
	   padding:0;
	   margin: 0;
	   background-color:#E6E9EB; 
	   text-align: center;
	}

	/*Navigation Bar Fixes*/
	.navbar-brand {
		width: 150px;
	}

	.refresh{
		height: 20px;
	}

	#signUp, #logIn {
		padding: 10px;
		width: 225px;
	}

	.sign-form {
		margin-bottom: 5px;
	}
	
	/* Footer content */
	#about{
		width: 98%; 		/* avoids overflow*/
		position: absolute;
	    left: 0;
	    text-align: center;   
	}

/* Homepage specific css */	

	#track{
		width: 100%;
		max-width: 200px;
		min-width: 150px;
	}

	.element{
		float:left;
		width: 15%;
		margin: 10px;
		min-width: 160px;
		position:relative;
	}

	/* Display Track Information */
	.element img {
	    width:100%;
	    vertical-align:top;
	}
	.element:after {
	    content: "\a" attr(data-title) "\a" attr(data-artist) "\a" attr(data-len) "\a" attr(data-album) "\a" attr(data-rating) " (" attr(data-reference) ") ";
		white-space : pre ;
	    font-weight: bold;
	    font-size: 14px;
	    color:#fff;
	    position:absolute;
	    width:100%; height:100%;
	    top:0; left:0;
	    background:rgba(0,0,0,0.8);
	    opacity:0;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	}
	.element:hover:after {
	    opacity:1;
	}

	/* Carousel CSS */

	/*  Created using http://desandro.github.io/3dtransforms/docs/carousel.html as a tutorial/guide
	I refactored and revamped just about all code from there, but it is possible a few variable names/css are the same */	

	.gallery {
	  width: 100%;
	  height: 210px;
	  -webkit-perspective: 1100px;
	          perspective: 1100px;
			  margin-bottom: 100px;
	}

	#carousel {
	  width: 200px;
	  height: 100%;
	  margin: auto auto;
	  -webkit-transform: translateZ( -288px );
	          transform: translateZ( -288px );
	  -webkit-transform-style: preserve-3d;
	          transform-style: preserve-3d;
	  -webkit-transition: -webkit-transform 1s;
	          transition: transform 1s;
	}

	#carousel img {
		position: absolute;
		width: 200px;
		height: 200px;
		left: 10px;
		top: 10px;
		margin: 0 auto;
		border: 2px solid;
	}
	#email-message {
		color:red;
		text-align:center;
	}
	#password-message {
		color:red;
		text-align:center;
	}
	#username-message {
		color:red;
		text-align:center;
	}
	form {
		text-align:center;
	}
