html, body {
   margin:0;
   padding:0;
   height:100%;
   overflow:hidden;
}
iframe {
	height: calc(100% - 110px);
	width:100%;
}

.player {
	position: absolute;
	height:110px;
	bottom: 0px;
	width:100%;
}

.jplayer {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	display: inline-block;
	width: calc(100% - 110px)
}

.player-img {
	position: absolute;
	display: inline-block;
	width: 110px;
	height: 110px;	
}

#scroller {
  -webkit-overflow-scrolling: touch;
  	overflow-y: scroll;
  	height:100%;
}

.jp-audio {
	width: 100%;
}

.jp-audio .jp-type-single .jp-progress {
	width: 80%; 
}

.jp-audio .jp-type-single .jp-time-holder {
	left: 110px;
	width: 80%; 
}