html,
body {
   margin:0;
   padding:0;
   height:100%;
   overflow:hidden;
}
iframe {
	height:96%;
	width:100%;
}

.player {
	position: absolute;
	height:4%;
	background-color: black;
	width:99%;
	color:red;
}
