html,
body {
   margin:0;
   padding:0;
   height:100%;
   overflow:hidden;
}
iframe {
	height:100%;
	width:100%;
}

.msg {
	position: fixed;
	top: 0;
	left: 0; 
	height:50px;
	background-color: black;
	width:99%;
}
#scroller {
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}