<!-- Add comment modal for track commenting and rating. -->
<div class="modal fade" id="change-payment-email" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add Comment/Critique</h4>
			</div>
			
			<div class="modal-body">
				<% if session['logged_in']==1 %>
					<!--Add comment form-->
					<form class="form-horizontal " action="/add_music_comment" method="post" id="comment-form">		
					<input type="hidden" name="medium_id" value="<%=@medium.id%>">
					<div class="new-album-name form-group">
						<label for="album-name" class="col-md-4 control-label">Comment</label>							
						<div class="col-md-7">
							<textarea name="comment" class="input" maxlength="120"></textarea>
						</div>
						
						<% check_rating = Rating.where(medium_id:@medium.id).find_by(user_id:session['user_id'])%>
						<% if check_rating %>
							<% current_rating = check_rating.rating %>
							<label for="track-genre" class="col-md-4 control-label">Change Your Rating</label>

						<% else %>
							<% current_rating = -1 %>
							<label for="track-genre" class="col-md-4 control-label">Rating</label>
						<% end %>
						<div class="col-md-7">
							<select name="rating" class="input_dropdown">
								<% if current_rating == 1 %>
									<option value="1" selected="selected">1 - Not a fan</option>
								<% else %>
									<option value="1">1 - Not a fan</option>
								<% end %>
								<% if current_rating == 2 %>
									<option value="2" selected="selected">2 - Meh</option>
								<% else %>
									<option value="2">2 - Meh</option>
								<% end %>
								<% if current_rating == 3 %>
									<option value="3"  selected="selected">3 - Good</option>
								<% else %>
									<option value="3">3 - Good</option>
								<% end %>
								<% if current_rating == 4 %>
									<option value="4" selected="selected">4 - Great</option>
								<% else %>
									<option value="4">4 - Great</option>
								<% end %>
								<% if current_rating == 5 %>
									<option value="5" selected="selected">5 - Love it</option>
								<% else %>
									<option value="5">5 - Love it</option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<!-- Make it possbile to submit the form in the modal -->
						<input type="submit" id="submit-email" class="btn btn-primary" value="Add Comment/Rating"></input>       
					</div>
				</form>
			<% else %>
				<h2 class="bg-danger">You must be logged in to post a comment.</h2>
			<% end %>
		</div>
       
	</div>
	</div>
</div>