<div class="collaborate-btn row">
  <%= form_tag({:controller => 'collaboration', :action => 'coRequest'}, method: "post") do %>	
	<%= hidden_field_tag(:co_id, @otherID) %>
	<%= submit_tag("Collaborate", :class => 'btn btn-primary') %>
  <% end %>
</div><br>