<form class="form-horizontal submit-album" enctype="multipart/form-data" 
      onsubmit="return update_profile();"	action="/update_details" method="post">		
	
    <div class="new-album-name form-group">
		<label for="album-name" class="col-md-4 control-label">Album Name:</label>							
		<div class="col-md-7">
			<input id="album-name" type="text" class="form-control" name="album-name" onfocus="clearErrorMessage()"/>
			<div id="name_outcome"></div>
		</div>
	</div>

	<div class="new-album-description form-group">
		<label for="album-description" class="col-md-4 control-label">Description:</label>
		<div class="col-md-7">
			<textarea id="album-description" class="form-control" name="album-description"></textarea>	
		</div>
	</div>

	<div class="new-album-img form-group">
		<label for="album-img" class="col-md-4 control-label">Album Image:</label>
		<div class="col-md-7">
			<input id="album-image" type="file" name="album-image" accept="image/*"/>
		</div>
	</div>	
</form>



