<form class="form-horizontal submit-track" enctype="multipart/form-data" 
      onsubmit="return update_profile();"	action="/update_details" method="post">		
	
    <div class="new-track-name form-group">
		<label for="track-name" class="col-md-4 control-label">Track Name:</label>							
		<div class="col-md-7">
			<input id="track-name" type="text" class="form-control" name="track-name" onfocus="clearErrorMessage()"/>
			<div id="name_outcome"></div>
		</div>
	</div>

	<div class="new-track-album form-group">
		<label for="track-album" class="col-md-4 control-label">Album:</label>
		<div class="col-md-7">
			<select class="form-control" id="track-album" name="track-album">
			    <option value="Album 1">Album 1</option>
			    <option value="Album 2">Album 2</option>
			    <option value="Album 3">Album 3</option>
			    <option value="Album 4">Album 4</option>
		    </select>	
		</div>
	</div>

	<div class="new-track-img form-group">
		<label for="track-img" class="col-md-4 control-label">Track Image:</label>
		<div class="col-md-7">
			<input id="track-img" type="file" name="track-img" accept="image/*"/>
		</div>
	</div>

	<div class="new-track-file form-group">
		<label for="track-file" class="col-md-4 control-label">Track File:</label>
		<div class="col-md-7">
			<input id="track-file" type="file" name="track-file" accept="audio/*"/>
		</div>
	</div>	
</form>

