<form class="form-horizontal submit-track" enctype="multipart/form-data" 
      onsubmit="return update_profile();"	action="/newTrack" method="post">		
	
    <div class="new-track-name form-group">
		<label for="track-name" class="col-md-4 control-label">Track Name:</label>							
		<div class="col-md-7">
			<input id="track-name" type="text" class="form-control" name="track-name" onfocus="clearErrorMessage()"/>
			<div id="name_outcome"></div>
		</div>
	</div>


	<div class="new-track-img form-group">
		<label for="track-img" class="col-md-4 control-label">Track Image:</label>
		<div class="col-md-7">
			<input id="track-img" type="file" name="track-img" accept="image/*"/>
		</div>
	</div>

	<div class="new-track-file form-group">
		<label for="track-file" class="col-md-4 control-label">Track File:</label>
		<div class="col-md-7">
			<input id="track-file" type="file" name="track-file" accept="audio/*"/>
		</div>
	</div>	
</form>

