<!-- Buttons to display other artist profile-->

<div class="follow-btn row">
  <button type="button" class="btn btn-primary">Follow</button>
</div>
<div class="collaborate-btn row">
  <button type="button" class="btn btn-success">Collaborate</button>
</div>
<div class="donate-btn row">
  <button type="button" class="btn btn-info">Donate</button>
</div>