<!-- Buttons to display other artist profile-->
<!-- Do not render collaborate button once a request has been made. -->
<% if Collaboration.where(first_id:session['user_id'], second_id:@otherID).count == 0 %>
	<%= render 'collaborateButton' %>
<% elsif Collaboration.where(first_id:session['user_id'], second_id:@otherID, approved:false).count >= 1 %>
	<button class="btn btn-warning">Request Sent</button><br>
<% else %>
	<button class="btn btn-success">Request Accepted</button><br>
<% end %><br>
<div class="donate-btn row">
  <button type="button" class="btn btn-primary">Donate</button>
</div><br>