<!-- Buttons to display other artist profile-->

<div class="collaborate-btn row">
  <button type="button" class="btn btn-success">Collaborate</button>
</div><br>
<div class="donate-btn row">
  <button type="button" class="btn btn-info">Donate</button>
</div><br>