<!-- Buttons to display other artist profile-->
<!-- Do not render collaborate button once a request has been made. -->
<% if Collaboration.where(first_id:session['user_id'], second_id:@otherID).count == 0 %>
	<%= render 'collaborateButton' %>
<% end %>
<div class="donate-btn row">
  <button type="button" class="btn btn-info">Donate</button>
</div><br>