

<%= render 'navbar_others'%>


<!-- This form needs STYLING!!!  -->
<form action="/update_details" method="get">
  <input id="name" type="text" name="name"/><div id="name_outcome"></div>
  <br>
  <input id="email" type="text" name="email"/><div id="email_outcome"></div>
  <br>
  <input id="link" type="text" name="link"/><br><br>
  <textarea id="description" name="description"></textarea><br>
  <input type="submit" value="Update profile" onsubmit="return update_profile();"/>
</form>
