<form class="form-horizontal submit-update" enctype="multipart/form-data" 
      onsubmit="return update_profile();"	action="/update_details" method="post">		
	
    <div class="edit-username form-group">
		<label for="name" class="col-md-4 control-label">New Username:</label>							
		<div class="col-md-7">
			<input id="name" type="text" class="form-control" name="name" 
				   onfocus="clearErrorMessage()" value="<%= @username %>"/>
			<div id="name_outcome"></div>
		</div>
	</div>

	<div class="edit-description form-group">
		<label for="description" class="col-md-4 control-label">Description:</label>
		<div class="col-md-7">
			<textarea id="description" class="form-control" name="description"><%= @description %></textarea>	
		</div>
	</div>

	<div class="edit-username form-group">
		<label for="email" class="col-md-4 control-label">New Email:</label>
		<div class="col-md-7">
			<input id="email" type="text" class="form-control" name="email" 
				   onfocus="clearErrorMessage()" value="<%= @email %>"/>
			<div id="email_outcome"></div>	
		</div>
	</div>

	<div class="edit-link form-group">
		<label for="link" class="col-md-4 control-label">Website:</label>
		<div class="col-md-7">
			<input id="link" type="text" class="form-control" name="link" value="<%= @website_link %>"/>	
		</div>
	</div>

	<div class="edit-img form-group">
		<label for="image" class="col-md-4 control-label">Upload Profile Image:</label>
		<div class="col-md-7">
			<input id="image" type="file" name="image" accept="image/*"/>
		</div>
	</div>
	      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- Make it possbile to submit the form in the modal -->
        <button id="submit-update" class="btn btn-primary">Update profile</button>       
      </div>
</form>