<!--Edit Profile modal-->
<div class="modal fade myModal" id="edit-profile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
      </div>
      <div class="modal-body">
        <!--Edit Profile form-->
        <%= render 'profile/modals/editProfile'%>
      </div>

    </div>
  </div>
</div>

<!--Edit Profile modal-->
<div class="modal fade myModal" id="coll-requests" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Collaborators Rquests</h4>
      </div>
      <div class="modal-body">
        <!--Edit Profile form-->
        <%= render 'profile/modals/collRequests'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
      </div>
    </div>
  </div>
</div>

<!--Upload a track modal-->
<div class="modal fade" id="track-upload" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload a Track</h4>
      </div>
      <div class="modal-body">
        <!--Upload Track form-->
        <%= render 'profile/modals/uploadTrack'%>
      </div>
      
    </div>
  </div>
</div>

<!--Change Donation Email modal-->
<div class="modal fade" id="change-payment-email" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Donations email</h4>
      </div>
      <div class="modal-body">
        <!--Create donation form-->
        <%= render 'profile/modals/changeEmail' %>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- Make it possbile to submit the form in the modal -->
        <input type="submit" id="submit-email" class="btn btn-primary" value="Update"></input>       
      </div>
      </form>
      </div>
       
    </div>
  </div>
</div>
